<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <ul>
  <label for="pirate_name">Pirate Name:</label>
  <input type="text" id="pirate_name" name="pirate[name]">
  <br>
  <br>
  <label for="pirate_weight">Pirate Weight:</label>
  <input type="text" id="piarate_weight" name="pirate[weight]">
  <br>
  <br>
  <label for="pirate_height">Pirate Height:</label>
   <input type="text" id="pirate_height" name="pirate[height]">
  <br>
  <br>
  First Ship name:<input id="ship_name_1" type="text" name="pirate[ships][][name]">
  <br>
  <br>
  First Ship type:<input id="ship_type_1" type="text" name="pirate[ships][][type]">
  <br>
  <br>
  First Ship booty:<input id="ship_booty_1" type="text" name="pirate[ships][][booty]">
  <br>
  <br>
  Second Ship name:<input id="ship_name_2" type="text" name="pirate[ships][][name]">
  <br>
  <br>
  Second Ship type: <input  id="ship_type_2" type="text" name="pirate[ships][][type]">
  <br>
  <br>
  Second Ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]">
  </ul>
  <input type="submit" value="Submit">
</form>
